body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #BFBDC1;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
  background-color: #6D6A75; /* Green */
  color: #BFBDC1;
}
.bg-2 { 
  background-color: #37323E; /* Dark Blue */
  color: #BFBDC1;
}
.bg-3 { 
  background-color: #BFBDC1; /* White */
  color: #37323E;
}
.bg-4 { 
  background-color: #241f2c; /* Black Gray */
  color: #BFBDC1;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;

}
.navbar-nav  li a:hover {
  color: #DEB841 !important;
}
a:hover {
    color: #DEB841 !important;
}
a {
    color: #DE9E36;
}